*.pdf
bin/
*.o
*.hi
/ghc_build
/*.zip

/.stack-work/
/stack.yamldocs.pdf

# TODO: Move intermediate files to a temporary directory.
test/joos_input.txt
test/joos_classname.txt
test/joos_tokens.txt
test/joos_tree.txt
test/joos_parse.txt

*.ast
*.tokens
*.parse
*.tree
